.sell-modal {

    color: white;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation-name: appear;
    animation-duration: 150ms;
    animation-iteration-count: initial;
    animation-timing-function: ease-out;

    > div {
        width: 450px;
        box-sizing: border-box;
        background-color: var(--blue-black-10);
        position: absolute;
        top: 30%;
        border: 1px var(--blue-black-10) solid;
        border-radius: 8px;
    }
}

.sell-modal-text {
    border-bottom: 1px solid #272c3a;

    > p {
        text-align: center;
        color: var(--blue-white-05);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px !important;
        line-height: 150%;
        background-color: var(--blue-black-15);
        margin: 0;
        padding: 30px 45px;

        > span {
            display: inline-block;
            font-weight: bold;
            font-size: 1.1em;
            margin: 0 3px;
            color: var(--blue-white-30);
        }

        > span:last-child::after {
            content: '$ ?';
            margin: 0 4px;
            color: var(--blue-white-05);
            font-size: 20px !important;
            font-weight: normal;
        }
    }
}

.sell-buttons {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;

    > .sell-button {
        width: 45%;
        font-size: 16px;
    }

    > .sell-yes {
        background-color: rgb(67, 109, 58);
    }

    > .sell-no {
        background-color: transparent;
        border: 1px rgb(114, 115, 116) solid;
        box-sizing: border-box;

        &:hover {
            filter: none;
            background-color: rgba(114, 115, 116, 0.8);
            color: #131418;
        }
        &:active {
            background-color: rgba(66, 68, 71, 0.8);
            border: none;
            color: #131418;
        }
    }
}


@media (max-width: 550px) {
    .sell-modal > div {
        width: 100%;
        border-radius: 0;

        > .sell-modal-text > p {
            padding: 45px 40px;
        }

        > .sell-buttons {
            display: block;
            padding: 20px 30px 20px;

            > div {
                width: 100%;
                padding: 15px 10px;
                
                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }
    }
}