.icon-cont {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        filter: brightness(0.6);
    }
}


.navigation-links-icon {
    width: 20px;
    height: 15px;
    background-image: url('Img/menu.svg');
}

.settings-icon {
    width: 18px;
    height: 18px;
    background-image: url('Img/gear.svg');
}