.upper-block {
    // box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.548);
    background-color: rgb(20, 20, 36)
}

.roulette-cont {
    width: 100%;
    height: 205px;
    background-color: rgb(14, 18, 29);
    // background-image: linear-gradient(rgba(28, 65, 90, 0.25), transparent 95%);

    position: relative;
    display: flex;
    justify-content: center;

    box-shadow:
        inset 0 0 2px 0px rgba(255, 255, 255, 0.1),
        0 0 1px 1px rgb(14, 14, 14);
}

.button-cont {
    width: 100%;
    height: 60px;
    // background-color: rgb(20, 20, 36);
    padding-top: 45px;
    background-color: rgb(19, 24, 39);

    box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, 0.7);
    
    display: flex;
    justify-content: center;
    position: relative;

    > .button {
        width: 150px;
        height: 30px;
        background-color: #415c0c;
        background-image: linear-gradient(rgba(120, 170, 122, 0.26), transparent);
        box-shadow: 0 0 1px 2px rgba(9, 17, 7, 0.55);
        cursor: pointer;
        user-select: none;

        color: rgb(216, 226, 213);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &.blocked {
            user-select: none;
            cursor: default;
            background-color: #3c3d3b;
            color: rgb(128, 139, 124);
            pointer-events: none;
        } 

        &::before {
            content: var(--press-button);
            position: absolute;
            bottom: calc(100% + 12px);
            pointer-events: none;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            white-space: nowrap;
            color: rgb(255, 153, 0);
            text-shadow: 0 1px 2px black;
        }

        &:hover {
            color: rgb(184, 194, 181);
            background-image: linear-gradient(rgba(120, 170, 122, 0.1), transparent);
            background-color: #314609;
        }
        &:active {
            color: rgb(151, 163, 147);
            background-image: linear-gradient(rgba(120, 170, 122, 0.1), transparent);
            background-color: #213005;
        }
    }
}

.opening {
    width: 65%;
    height: 45px;
    background: #192430;
    position: absolute;
    top: 1px;
    background-image: linear-gradient( #2d3e58, transparent);
    user-select: none;

    box-shadow:
        0 0 2px 1px rgba(7, 9, 15, 0.699),
        inset 0 0 1px 0 rgba(197, 215, 231, 0.712);
    
    display: flex;
    align-items: center;

    > span {
        color: rgb(117, 151, 163);
        font-family: sans-serif, Arial, Helvetica;
        font-size: 14px;
        margin-left: 20px;
        text-shadow: 0 1px 1px black;
    }
}