

.inventory-items-cont {
    width: 65%;
}
.inventory-items-cont.full {
    width: 100%;
}

.inventory-items {
    background-color: violet;

    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.inventory-page {
    background-color: lawngreen;

    width: 100%;
    height: 40px;
}

.inventory-list-cont-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;

    // for its immediate child to work with
    box-sizing: border-box;
    padding: 8px;

    > div {
        height: 100%;
        width: 100%;
        background-color: rgb(106, 78, 138);

        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
    }
}


// inventory-items

.inventory-item {
    width: 18%;
    height: 18%;
    box-sizing: border-box;
    background-color: rgb(48, 48, 104);
    padding: 5px;

    > img {
        width: 100%;
        height: 100%;
    }
}