.balance-cont {
    height: 100%;
    padding: 0 5px;
    color: rgb(235, 238, 243);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.balance::before {
    content: '$';
    color: rgb(100, 196, 112);
    margin-right: 5px;
}

.balance {
    transform: translateY(1px);
    border-bottom: 1px dashed rgb(96, 99, 105);
}

.balance-cont > a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.balance-cont > a:hover {
    filter: brightness(1.2);
}

.balance-icon {
    background-image: url('plus.svg');
    width: 18px;
    height: 18px;
}

@media (max-width: 480px) {
    .balance-cont > a {
        padding: 10px 9px
    }
}