.logo-cont {
    width: 140px;
    height: 100%;
    padding-left: 15px;

    display: flex;
    align-items: center;
}
@media (max-width: 480px) {
    .logo-cont {
        padding-left: 10px;
        width: 90px;
    }
}

.logo-cont:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.logo-cont > a  {
    width: inherit;
    display: block;
}

.logo-cont > a > img {
    width: inherit;
}

.link-cont {
    width: auto;
    text-align: center;
    height: 100%;
}
.link-cont > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    display: inline-flex;
    justify-content: flex-start;
}

.link-cont > ul > li {
    height: 100%;
}

.link-cont > ul > li > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #8c9fb6;
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    padding: 0 15px;
    user-select: none;

    transition: all 130ms linear;
}

.link-cont > ul > li > a:hover {
    background-color:  rgba(59, 59, 99, 0.1);
}

.link-cont > ul > li > a.active {
    /* background-image: linear-gradient(360deg, rgb(6, 7, 14), rgba(6, 9, 14, 0.3)); */
    background-color: rgba(7, 4, 7, 0.3);
    color: rgba(55, 55, 65, 0.8);
    cursor: default;
    position: relative;
    pointer-events: none;
    box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.3);
}

.link-cont > ul > li > a.active::before {
    content: '';
    width: 100%;
    height: 2px;

    background-color: rgb(74, 184, 218);
    box-shadow: 0 0 6px 1px rgba(74, 184, 218, 0.5);

    position: absolute;
    bottom: 0;
    left: 0;
}

.right-cont {
    height: 100%;
    padding: 0 13px 0 5px;
    display: flex;
    justify-content: end;
}