

.navbar {
    width: 100%;
    height: 60px;
    background-color: #080b16;
    border-bottom: 1px solid #26263a;

    position: fixed;
    display: flex;
    z-index: 20;
    justify-content: space-between;
    top: 0;
}


nav .logo-cont {
    width: 140px;
    height: 100%;
    padding-left: 15px;

    display: flex;
    align-items: center;

    :hover {
        cursor: pointer;
        filter: brightness(0.7)
    }

    > a {
        width: inherit;
        display: block;

        > img {
            width: inherit;
        }
    }

}

@media (max-width: 400px) {
    nav .logo-cont {
        width: 100px;
    }
}

.link-cont {
    width: auto;
    text-align: center;
    height: 100%;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;

        display: inline-flex;
        justify-content: flex-start;

        > li {
            height: 100%;

            > a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                color: #8c9fb6;
                display: block;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 14px;
                padding: 0 15px;
                user-select: none;
                white-space: nowrap;
                transition: all 130ms linear;

                &:hover {
                    background-color:  rgba(59, 59, 99, 0.1);
                }

                &.active {
                    background-color: rgba(7, 4, 7, 0.3);
                    color: rgba(55, 55, 65, 0.8);
                    // cursor: default;
                    position: relative;
                    // pointer-events: none;
                    box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.3);

                    &::before {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: rgb(74, 184, 218);
                        box-shadow: 0 0 6px 1px rgba(74, 184, 218, 0.5);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}



