.main {
    width: 700px;
    min-height: calc(100vh - 60px);
    margin: 60px auto 0;
    --color: rgb(15, 15, 26);
    background-image: linear-gradient( var(--color) , var(--color) );
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

@media (max-width: 800px) {
    .main {
        width: 100%;
    }
}

.main-cont {
    width: 100%;
    background-color: red;
    height: inherit;
}

.bg {
    width: inherit;
    height: 100vh;
    position: fixed;

    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}