

.balance-cont {
    height: 100%;
    padding: 0 5px;
    color: rgb(235, 238, 243);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > div {
        min-width: 80px;
        display: flex;
        justify-content: flex-end;
    }

    > a {
        display: flex;
        align-items: center;
        padding: 10px 15px;

        &:hover {
            filter: brightness(1.2);
        }
    }
}


.balance {
    transform: translateY(1px);
    border-bottom: 1px dashed rgb(96, 99, 105);

    &::before {
        content: '$';
        color: rgb(100, 196, 112);
        margin-right: 5px;
    }
}


.balance-icon {
    background-image: url('Img/plus.svg');
    width: 18px;
    height: 18px;
}


@media (max-width: 480px) {
    .balance-cont > a {
        padding: 10px 9px
    }
    .balance-cont > div > span {
        font-size: 14px;
    }
}

